@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(56, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'League Spartan', sans-serif;
}

.upper-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.container {
    padding: 1rem;
    border-radius: 1rem;
}

.btns-container {
    display: grid;
    grid-template-areas:
        'seven eight nine delete'
        'four five six add'
        'one two three sub'
        'point zero divide mult'
        'bottom-btns bottom-btns bottom-btns bottom-btns';
    ;
    padding: 1rem;
    padding-bottom: 1.4rem;
    border-radius: 0.5rem;
}

.result {
    color:white;
    padding: 0.7rem;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 0.2rem;
    height: 4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.bottom-btns{
    grid-area: bottom-btns;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
    margin-top: .6rem;
}

.btn,
#on-btn,
#clear,
#equal
 {
    width: 3rem;
    padding: .3rem;
    text-align: center;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin: .6rem;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: .1s ease;
}

.bottom-btns #clear{
    grid-column: span 2;
    grid-row-start: 1;
    margin: 0;
}

.bottom-btns #equal {
    grid-column: span 2;
    grid-row-start: 1;
    width: 7rem;
    margin: 0;
}

.bottom-btns #on-btn {
    grid-column: span 2;
    grid-row-start: 1;
    margin: 0;
}

#clear {
    border: none;
    padding: .3rem;
    width: 7rem;
}

.b:hover{
    font-size: 2rem;
}
#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zero;
}

#point {
    grid-area: point;
}

#mult {
    grid-area: mult;
}

#delete {
    grid-area: delete;
}

#add {
    grid-area: add;
}

#divide {
    grid-area: divide;
}

#sub {
    grid-area: sub;
}
