@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.blue-theme{
    --body-bg: hsl(222, 26%, 31%);
    --main-wrapper-shadow: hsl(268, 80%, 32%);

    --output-box-bg:  hsl(224, 36%, 15%);

    --buttons-wrapper-bg: hsl(223, 31%, 20%);
    --buttons-bg: hsl(0, 0%, 100%);

    --button-text-color: hsl(221, 14%, 31%); /* specific */
    --text-color: hsl(225, 21%, 49%); /* common */

    --equal-button-bg: hsl(6, 63%, 50%);
    --primary-button-bg: hsl(225, 21%, 49%);
    --primary-button-text-color: hsl(0, 0%, 100%);
}

.voilet-theme{
    --body-bg: hsl(268, 75%, 9%);
    --main-wrapper-shadow: hsl(268, 80%, 32%);

    --output-box-bg: hsl(268, 71%, 12%);

    --buttons-wrapper-bg: hsl(268, 71%, 12%);
    --buttons-bg: hsl(268, 47%, 21%);

    --button-text-color: hsl(52, 100%, 62%);
    --text-color: hsl(52, 100%, 62%);

    --equal-button-bg: hsl(176, 100%, 44%);
    --primary-button-bg: hsl(290, 70%, 36%);
    --primary-button-text-color: hsl(0, 0%, 100%);

}

.white-theme{
    --body-bg: hsl(0, 0%, 90%);
    --main-wrapper-shadow: hsl(268, 80%, 32%);

    --output-box-bg: hsl(0, 0%, 93%);

    --buttons-wrapper-bg: hsl(0, 5%, 81%);
    --buttons-bg: hsl(45, 7%, 89%);

    --button-text-color: hsl(60, 10%, 19%);
    --text-color: hsl(60, 10%, 19%);

    --equal-button-bg: hsl(25, 98%, 40%);
    --primary-button-bg: hsl(185, 42%, 37%);
    --primary-button-text-color: hsl(0, 0%, 100%);
}

body {
    background-color: var(--body-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'League Spartan', sans-serif;
}

.main-wrapper{
    box-shadow:0px 0px 10px 0px hsl(268, 80%, 32%) ;
    padding-top: 1rem;
    border-radius: .4rem;
}

.upper-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    color: var(--text-color);
}
.upper-section .theme-wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;
}

.theme-wrapper .theme-count{
    display: flex;
    gap: .9rem;
    font-size: .8rem;
}

.theme-wrapper .circle{
    width: .8rem;
    height: .8rem;
    background: orange;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transform: translateX(0);
    transition: .4s;
}

.container {
    padding: 1rem;
    border-radius: 1rem;
}

.btns-container {
    display: grid;
    grid-template-areas:
        'seven eight nine delete'
        'four five six add'
        'one two three sub'
        'point zero divide mult'
        'bottom-btns bottom-btns bottom-btns bottom-btns';
    ;
    padding: 1rem;
    padding-bottom: 1.4rem;
    border-radius: 0.5rem;
    background-color: var(--buttons-wrapper-bg);
}

.result {
    color:var(--text-color);
    background-color: var(--output-box-bg);
    padding: 0.7rem;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 0.2rem;
    height: 4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.bottom-btns{
    grid-area: bottom-btns;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
    margin-top: .6rem;
}

.btn,
#on-btn,
#clear,
#equal
 {
    width: 3rem;
    padding: .3rem;
    text-align: center;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin: .6rem;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: .1s ease;
    background-color: var(--buttons-bg);
    color: var(--text-color);
}
#on-btn,
#clear,
#delete{
    background-color: var(--primary-button-bg);
    color: var(--primary-button-text-color);
}
#equal{
    background-color: var(--equal-button-bg);
    color: var(--primary-button-text-color);
}
.bottom-btns #clear{
    grid-column: span 2;
    grid-row-start: 1;
    margin: 0;
}

.bottom-btns #equal {
    grid-column: span 2;
    grid-row-start: 1;
    width: 7rem;
    margin: 0;
}

.bottom-btns #on-btn {
    grid-column: span 2;
    grid-row-start: 1;
    margin: 0;
}

#clear {
    border: none;
    padding: .3rem;
    width: 7rem;
}

.b:hover{
    font-size: 2rem;
}
#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zero;
}

#point {
    grid-area: point;
}

#mult {
    grid-area: mult;
}

#delete {
    grid-area: delete;
}

#add {
    grid-area: add;
}

#divide {
    grid-area: divide;
}

#sub {
    grid-area: sub;
}
