body{
    background: hsl(0, 0%, 90%);
}
.result{
    background-color:hsl(0, 0%, 93%)
}
.btns-container{
    background-color: hsl(0, 5%, 81%);
}
.upper-section,
.result,
.btns-container{
    color:hsl(60, 10%, 19%);
}
.btns-container .btn{
    background-color: hsl(45, 7%, 89%);
    color:hsl(60, 10%, 19%);
    box-shadow: 0rem 0.1rem hsl(35, 11%, 61%);
}

#on-btn,
#clear,
#delete{
    color:#ffffff;
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0rem 0.1rem hsl(185, 58%, 25%)
}
#equal{
    color:  hsl(198, 20%, 13%);
    background-color:hsl(25, 98%, 40%);
    box-shadow: 0rem 0.1rem  hsl(25, 99%, 27%);
}

.btn:hover{
    background-color: #ffffff;
}

#on-btn:hover,
#clear:hover,
#delete:hover{
    background-color: hsl(185, 42%, 47%);
}

#equal:hover{
    background-color:hsl(25, 98%, 60%);
}

.theme-container .first-theme .space,
.theme-container .second-theme .space,
.theme-container .third-theme .space{
    background-color: hsl(45, 7%, 89%);
}